body{
    padding-left: 10%;
    padding-right:10%;
}
.encabezado{
    
    background-color:#fb5607;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
}
.logo{
    padding-left: 120px;
}
.primeraSeccion{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fb5607;
    height: 500px;
}
.noticias{
    margin-top: 2%;
    background-color: #fb5607;
    
}
.contacto{
    margin-top: 2%;
    background-color: #fb5607;
    display: flex;
    align-items: center;
    
    
}
.boton{
    background: #ffbe0b;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;



}

.boton:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #242320;
}
.boton:active {
    opacity: .9;
  }

.texto{
    padding: 8%;
    margin: 2%;
    background-color: #ffbe0b;
}
.img2{
    border-radius: 2%;
    border: #ffbe0b 10px solid;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--primary-color-dark);
    color: var(--accent-color);
    padding: 20px;
  }
  
.articulo{
    display: flex;
    padding: 5%;
    
}
.content{
    display: flex;
    align-items: center;
}
.formulario{
    background-color: #ffbe0b;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}